<!DOCTYPE html>
@using CooperatorsDirect.Security
@using CooperatorsDirect
@*@{
        SessionPersiter sp = new SessionPersiter();
    }*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home")" style="background:no-repeat url(/Content/logo.png) 0 0;
                    margin-top: 5px;
                    height:65px;
                    width:300px;
                    overflow:hidden;
                    float:left;
                    border:none;
                    display:inline;"></a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (SessionPersiter.User != null)
                {
                    <ul class="nav navbar-nav">
                        @if (SessionPersiter.User.Role == CooperatorsDirect.Models.Roles.admin)
                        {
                            <li>@Html.ActionLink("Utilisateurs", "List", "User")</li>
                        }
                        @if (SessionPersiter.User.Role == CooperatorsDirect.Models.Roles.employe || SessionPersiter.User.Role == CooperatorsDirect.Models.Roles.employe)
                        {
                            <li>@Html.ActionLink("Clients", "List", "User")</li>
                            <li>@Html.ActionLink("Rapports d'accidents", "Index", "Accidents")</li>
                        }
                        @if (SessionPersiter.User.Role == CooperatorsDirect.Models.Roles.client)
                        {
                            <li>@Html.ActionLink("Rapporter un accident", "Rapporter", "Accidents")</li>
                            <li>@Html.ActionLink("Mes rapports", "Index", "Accidents")</li>
                        }
                    </ul>
                    string message = "Bonjour " + SessionPersiter.User.Prenom + "!";
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(message, "Details", "User")</li>
                        <li>@Html.ActionLink("Se déconnecter", "Logout", "User")</li>
                    </ul>
                }
                @if (SessionPersiter.User == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Inscription", "Register", "User")</li>
                        <li>@Html.ActionLink("Connexion", "Index", "User")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cooperators Direct - Alex Gilbert - Pascale Bouchard</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
