@model CooperatorsDirect.Models.Accident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Accident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateAccidentEnregistre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAccidentEnregistre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAccidentProduit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAccidentProduit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisonDeplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisonDeplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blessures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blessures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temoins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temoins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformationsAutreVoiture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformationsAutreVoiture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsSupplementaires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsSupplementaires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuMoinsDeuxVehicules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuMoinsDeuxVehicules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduitAuQuebec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduitAuQuebec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProprietairesIdentifies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProprietairesIdentifies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProprietairesDifferents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProprietairesDifferents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConducteurHeurtePropreVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConducteurHeurtePropreVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SituationVehicules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SituationVehicules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CirconstancesAccident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CirconstancesAccident)
        </dd>

        <dt>
            Id du rapport d'accident (À fournir au garagiste pour qu'il puisse communiquer plus facilement avec l'assureur)
        </dt>

        <dd>
                        @Html.DisplayFor(model => model.ID)
        </dd>


        @if (Model.Comments != null && Model.Comments.Count() > 0)
        {
            <dt>
                Commentaires
            </dt>

            foreach (var comm in Model.Comments)
            {
                <dd>
                    <strong>@Html.DisplayTextFor(m => comm.utilisateurName) @Html.DisplayTextFor(m => comm.utilisateurSurname)</strong><br />
                    <strong>@Html.DisplayTextFor(m => comm.DateCommentaire)</strong><br />
                    @Html.DisplayTextFor(m => comm.Text)<br /><br />
                </dd>
            }
        }

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group hidden-print">
            @Html.LabelFor(model => model.newComment.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newComment.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.newComment.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden-print">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter commentaire" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
