@model CooperatorsDirect.Models.Accident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Accident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateAccidentEnregistre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAccidentEnregistre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuMoinsDeuxVehicules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuMoinsDeuxVehicules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduitAuQuebec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduitAuQuebec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProprietairesIdentifies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProprietairesIdentifies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProprietairesDifferents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProprietairesDifferents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConducteurHeurtePropreVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConducteurHeurtePropreVehicule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SituationVehicules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SituationVehicules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CirconstancesAccident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CirconstancesAccident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVehicule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVehicule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccidentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
