@model CooperatorsDirect.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Connexion";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/signIn.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    <title>Connexion</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Connexion", "User", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Veuillez vous connecter</h2>

            <div>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Adresse courriel" })
            </div>

            <div>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mot de passe" })
            </div>

            <div>
                <input class="btn btn-primary btn-block" type="submit" value="Connexion" />
            </div>
            
            <div>
                @Html.ActionLink("S'inscrire", "Register", "User")
            </div>

            @ViewBag.Error
        }
    </div>
</body>
</html>
